numpy==1.18.5
pandas==1.4.2
python-Levenshtein==0.12.0
Unidecode==1.1.2
datamatch==0.1.15
datavalid==0.3.6
tqdm==4.63.1
openpyxl==3.0.7
azure-ai-formrecognizer==3.2.0b1
azure-storage-blob==12.9.0
python-dotenv==0.19.1
PyPDF2==2.5.0
requests==2.26.0
wrgl==0.11.6
flake8==4.0.1
black==21.12b0
pytesseract==0.3.9
pdf2image==1.16.0
deba==0.1.7
dvc[gs]==2.10.1
dropbox==11.32.0
pdf2image==1.16.0
pytesseract==0.3.9
spacy==3.3.1
