numpy==1.23.4
pandas==1.4.2
python-Levenshtein==0.12.0
Unidecode==1.1.2
datamatch==0.1.15
datavalid==0.3.6
tqdm==4.63.1
openpyxl==3.0.7
azure-ai-formrecognizer==3.2.0b1
azure-storage-blob==12.9.0
python-dotenv==0.19.1
PyPDF2==1.26.0
requests==2.26.0
wrgl==0.13.4
flake8==4.0.1
black==21.12b0
deba==0.1.8
fsspec<2023.10.0
dvc[gs]==2.24.0
pdf2image==1.16.0
spacy==3.3.1
pypdfium2==2.11.0
pathspec==0.9.0
dropbox==11.34.0
vscode-spot-check==0.0.1
psycopg2-binary==2.9.2
slack_sdk==3.19.5
