numpy==1.18.5
pandas==1.2.4
python-Levenshtein==0.12.0
Unidecode==1.1.2
datamatch==0.1.15
datavalid==0.3.6
tqdm==4.61.1
openpyxl==3.0.7
azure-ai-formrecognizer==3.2.0b1
azure-storage-blob==12.9.0
python-dotenv==0.19.1
PyPDF2==1.26.0
requests==2.26.0
wrgl==0.7.3.1
flake8==4.0.1
black==21.12b0
deba==0.0.6
