apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: k8s-ocr-jobqueue
resources:
  - job.yml
commonLabels:
  app.kubernetes.io/part-of: k8s-ocr-jobqueue
images:
  - name: doctr
    newName: gcr.io/excellent-zoo-300106/doctr
    newTag: 89c0f9f6ae2c
configMapGenerator:
  - literals:
      - SOURCE_BUCKET=k8s-ocr-jobqueue-pdfs
      - SINK_BUCKET=k8s-ocr-jobqueue-results
    name: doctr-config
