name: Process Data
on:
  pull_request:
    branches:
      - main
jobs:
  process-data:
    runs-on: cdi-runner
    steps:
      - uses: actions/checkout@v3
      - uses: jwalton/gh-find-current-pr@v1
        id: findPr
        with:
          state: open
      - name: dvc pull
        shell: "bash --noprofile --norc -x -eo pipefail {0}"
        run: |
          find dvc/data/raw -type f | xargs -I{} sed -iE 's/wdir\: ..\/..\/..\/data\/raw/wdir\: \/runner\/_work\/data\/data\/raw/g' {}
          mkdir /runner/_work/data/dvc_cache || true
          dvc cache dir --local /runner/_work/data/dvc_cache
          dvc pull -v -f
      - name: wrgl pull
        run: |
          wrgl config set --global user.email "gh-action@publicdata.works"
          wrgl config set --global user.name "Github Action"
          mkdir /runner/_work/data/.wrgl || true
          cp .wrgl/config.yaml /runner/_work/data/.wrgl/
          wrgl init --wrgl-dir /runner/_work/data/.wrgl || true
          wrgl pull --wrgl-dir /runner/_work/data/.wrgl --all --ignore-non-existent
      - name: process data
        run: |
          sed -iE 's/dataDir\: data/dataDir\: \/runner\/_work\/data\/data/g' deba.yaml
          echo "md5Dir: /runner/_work/data/md5" >> deba.yaml
          make WRGL_FLAGS="--wrgl-dir /runner/_work/data/.wrgl"
      - name: commit changes in transaction
        id: transaction
        run: |
          cd /runner/_work/data
          scripts/authenticate-wrgl.py https://wrgl.llead.co ipno-github "${KEYCLOAK_CLIENT_SECRET}" > token.txt
          wrgl credentials authenticate https://wrgl.llead.co --token-location token.txt
          rm token.txt
          wrgl transaction start | tr -d "[:space:]" > txid.txt
          export newline=$'\n'
          wrgl commit --all --txid $(cat txid.txt) "[PR #${PR}: ${PR_TITLE}][1]${newline}${newline}[1]: https://github.com/${GITHUB_REPOSITORY}/pull/${PR}"
          wrgl transaction push origin $(cat txid.txt) && \
            echo "::set-output name=txid::$(cat txid.txt)" && \
            echo "::set-output name=txURL::https://hub.wrgl.co/@ipno/r/data/tx/$(cat txid.txt)"
        env:
          WRGLHUB_TOKEN: ${{ secrets.WRGLHUB_TOKEN }}
          PR: ${{ steps.findPr.outputs.pr }}
          PR_TITLE: ${{ steps.findPr.outputs.title }}
      - name: Create comment
        if: ${{ steps.transaction.outputs.txid != 0 }}
        uses: peter-evans/create-or-update-comment@v2
        with:
          issue-number: ${{ steps.findPr.outputs.pr }}
          body: |
            Review data changes at [tx/${{ steps.transaction.outputs.txid }}][1]

            When this PR is merged, this transaction will be applied.

            [1]: ${{ steps.transaction.outputs.txURL }}
